##Extracción de datos y armado de diccionario

In [75]:
import pandas as pd
from string import ascii_uppercase as alfabeto
import pickle

In [76]:
todas_tablas[9].columns[1]

'Team'

In [77]:
alfabeto

'ABCDEFGHIJKLMNOPQRSTUVWXYZ'

##Cambio de index número x letra y eliminación de columnas

In [78]:
todas_tablas = pd.read_html('https://en.wikipedia.org/wiki/2022_FIFA_World_Cup')

dict_tablas = {}
for letra, i in zip(alfabeto, range(9, 65, 7)):
    df = todas_tablas[i]
    df.rename(columns={df.columns[1]:'Team'}, inplace=True)
    df.pop('Qualification')
    dict_tablas[f'Grupo {letra}'] = df

In [79]:
dict_tablas.keys()

dict_keys(['Grupo A', 'Grupo B', 'Grupo C', 'Grupo D', 'Grupo E', 'Grupo F', 'Grupo G', 'Grupo H'])

In [80]:
dict_tablas['Grupo A']

   Pos         Team  Pld  W  D  L  GF  GA  GD  Pts
0    1  Netherlands    3  2  1  0   5   1  +4    7
1    2      Senegal    3  2  0  1   5   4  +1    6
2    3      Ecuador    3  1  1  1   4   3  +1    4
3    4    Qatar (H)    3  0  0  3   1   7  −6    0

In [82]:
with open ('dict_table', 'wb') as output:
    pickle.dump(dict_tablas, output)